<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Social Buttons CSS -->
    <link href="css/plugins/social-buttons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>    

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 系统监控<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li class="active">
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> 审核业务<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">用户审核业务</a>
                                </li>
                                <li class="active">
                                    <a href="#">设备审核业务 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="deviceunchecked.html">设备未审核业务</a>
                                        </li>                                    
                                        <li>
                                            <a class="active" href="personaldevice.html">个人设备申请处理</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->                                    
                                </li>
                                <li>
                                    <a href="notifications.html">中间件审核业务</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> 中间件业务<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">中间件测试部署</a>
                                </li>
                                <li>
                                    <a href="#">中间件测试验收</a>
                                </li>
                                <li>
                                    <a href="#">中间件入库上线 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> KVM管理</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <br/>
            <div class="row">

                <div class="col-lg-12">
                
                
                    <div class="pull-right">
                        <a href="http://github.com/flot/flot/blob/master/API.md" ><font size="4" style="text-decoration:underline">系统消息</font></a>
                        <a href="http://www.flotcharts.org/flot/examples" ><font size="4" style="text-decoration:underline">业务消息</font></a>
                        <a href="http://www.flotcharts.org/plugins" ><font size="4" style="text-decoration:underline">个人</font></a>
                    </div>
            
            
            
                </div>

                <!-- /.col-lg-12 -->
            </div>   
            
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">分配设备ID</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>                 
        
            <div class="row">
	            <!--col-lg-12-->
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <font size="+1">设备厂商</font>
                        </div>
                        <div class="panel-body">
                        
                        
						<div class="table-responsive table-bordered">
        	            <script type="text/javascript">
                    		 $(document).on("click","#chk_all",function(){
 							 var ischecked= $("#chk_all:checked").length;
							 var $checkboxs =$("input[name='transPro']");
							 if(ischecked){
							 $checkboxs.prop("checked",true);
						 	 }else{
							 $checkboxs.prop("checked",false);							 
							 }
							 });
		                </script>                        
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="chk_all" id="chk_all"/><span> </span>选择</th>
                                            <th>内容</th>
                                            <th>用户</th>
                                            <th>设备ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" name="transPro" value="message1"></td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="transPro" value="message2"></td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="transPro" value="message3"></td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                           
                        </div>
                        <div class="panel-footer">                                                                                    
							<script type="text/javascript">
                                 $(document).on("click","#allSelect",function(){
                                 var $checkboxs =$("input[name='transPro']");
                                 $checkboxs.prop("checked",true);
                                 });
                                 
                                 $(document).on("click","#noneSelect",function(){
                                 var $checkboxs =$("input[name='transPro']");
                                 $checkboxs.prop("checked",false);
                                 });
                            </script>   							
                            <a href="javascript:void(0)" id="allSelect" >全部</a>
                            <a >-</a>                        
                            <a href="javascript:void(0)" id="noneSelect" >无</a>
                            <a >-</a>                         
                            <button type="button" class="btn btn-primary">通过所选</button>                                             
                            <button type="button" class="btn btn-primary">删除所选</button>
                            <div class="pull-right">                                    
                                <button type="button" class="btn btn-primary">生成设备ID</button>                
                                <button type="button" class="btn btn-primary">分配设备ID</button>
                            </div>
                        </div>
 
                    </div>
                </div>
                <!--col-lg-12-->
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">最近分配设备ID日志</h1>
                </div>

				<div class="col-lg-3 pull-right">
                	<select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm"><option value="0" selected="true">今天</option><option value="10">最新一周</option><option value="20">最新一月</option><option value="30">最新一年</option></select>
            	</div>
                <!-- /.col-lg-12 -->
            </div>

			</br>
            <div class="row">
	            <!--col-lg-12-->
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <font size="+1">已审核日志记录</font>
                        </div>
                        <div class="panel-body">
                        
                        
						<div class="table-responsive table-bordered">
        	            <script type="text/javascript">
                    		 $(document).on("click","#chk_all2",function(){
 							 var ischecked= $("#chk_all2:checked").length;
							 var $checkboxs =$("input[name='transPro2']");
							 if(ischecked){
							 $checkboxs.prop("checked",true);
						 	 }else{
							 $checkboxs.prop("checked",false);							 
							 }
							 });
		                </script>                        
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="chk_all2" id="chk_all2"/><span> </span>选择</th>
                                            <th>内容</th>
                                            <th>用户</th>
                                            <th>设备ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" name="transPro2" value="message1"></td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="transPro2" value="message2"></td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="transPro2" value="message3"></td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                           
                        </div>
                        <div class="panel-footer">                                                                                    
							<script type="text/javascript">
                                 $(document).on("click","#allSelect2",function(){
                                 var $checkboxs =$("input[name='transPro2']");
                                 $checkboxs.prop("checked",true);
                                 });
                                 
                                 $(document).on("click","#noneSelect2",function(){
                                 var $checkboxs =$("input[name='transPro2']");
                                 $checkboxs.prop("checked",false);
                                 });
                            </script>   							
                            <a href="javascript:void(0)" id="allSelect" >全部</a>
                            <a >-</a>                        
                            <a href="javascript:void(0)" id="noneSelect2" >无</a>
                            <a >-</a>                         
                            <button type="button" class="btn btn-primary">通过所选</button>                                             
                            <button type="button" class="btn btn-primary">删除所选</button>                            
                        </div>
 
                    </div>
                </div>
                <!--col-lg-12-->
            </div>





        
        
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">用户未审核业务</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Default Buttons
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <h4>Normal Buttons</h4>
                            <p>
                                <button type="button" class="btn btn-default">Default</button>
                                <button type="button" class="btn btn-primary">Primary</button>
                                <button type="button" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-info">Info</button>
                                <button type="button" class="btn btn-warning">Warning</button>
                                <button type="button" class="btn btn-danger">Danger</button>
                                <button type="button" class="btn btn-link">Link</button>
                            </p>
                            <br>
                            <h4>Disabled Buttons</h4>
                            <p>
                                <button type="button" class="btn btn-default disabled">Default</button>
                                <button type="button" class="btn btn-primary disabled">Primary</button>
                                <button type="button" class="btn btn-success disabled">Success</button>
                                <button type="button" class="btn btn-info disabled">Info</button>
                                <button type="button" class="btn btn-warning disabled">Warning</button>
                                <button type="button" class="btn btn-danger disabled">Danger</button>
                                <button type="button" class="btn btn-link disabled">Link</button>
                            </p>
                            <br>
                            <h4>Button Sizes</h4>
                            <p>
                                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                                <button type="button" class="btn btn-primary">Default button</button>
                                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                                <button type="button" class="btn btn-primary btn-xs">Mini button</button>
                                <br>
                                <br>
                                <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Outline Buttons with Smooth Transition
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <h4>Outline Buttons</h4>
                            <p>
                                <button type="button" class="btn btn-outline btn-default">Default</button>
                                <button type="button" class="btn btn-outline btn-primary">Primary</button>
                                <button type="button" class="btn btn-outline btn-success">Success</button>
                                <button type="button" class="btn btn-outline btn-info">Info</button>
                                <button type="button" class="btn btn-outline btn-warning">Warning</button>
                                <button type="button" class="btn btn-outline btn-danger">Danger</button>
                                <button type="button" class="btn btn-outline btn-link">Link</button>
                            </p>
                            <br>
                            <h4>Outline Button Sizes</h4>
                            <p>
                                <button type="button" class="btn btn-outline btn-primary btn-lg">Large button</button>
                                <button type="button" class="btn btn-outline btn-primary">Default button</button>
                                <button type="button" class="btn btn-outline btn-primary btn-sm">Small button</button>
                                <button type="button" class="btn btn-outline btn-primary btn-xs">Mini button</button>
                                <br>
                                <br>
                                <button type="button" class="btn btn-outline btn-primary btn-lg btn-block">Block level button</button>
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



</body>

</html>
